{% extends 'common/base.html' %}

{% from 'common/macro/macro.html' import pagination_show%}

{% block title %}
    博客首页
{% endblock %}


{% block content %}
    {% block page_content %}
        {{ wtf.quick_form(form) }}

        {% for p in posts %}
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="{{ url_for('static',filename='uploads/'+p.author.icon) }}"
                             alt="头像">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ p.author.username }}</h4>
                    {{ p.content }}
                </div>
            </div>
        {% endfor %}

    {% endblock %}

    {{ pagination_show(pagination,'main.index') }}
{% endblock %}