{#第一个参数是分页对象  第二个参数   跳转的时候 指定的 url#}
{% macro pagination_show(pagination,endpoint) %}


        <nav aria-label="Page navigation">
            <ul class="pagination">
        {#                上一页#}


                <li {% if not pagination.has_prev %} class="disabled"{% endif %}>
               		<a href="{% if pagination.has_prev %}{{ url_for(endpoint,p=pagination.prev_num,**kwargs) }}{% else %}#{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

        {#                中间页码#}
            {% for pp in pagination.iter_pages() %}
                {% if pp %}
                       <li {% if pagination.page == pp%} class="active" {% endif %}><a href="{{ url_for(endpoint,p=pp,*kwargs) }}">{{ pp }}</a></li>
                {% else %}
                    <li ><a href="#">&hellip;</a></li>

                {% endif %}

            {% endfor %}


        {#                下一页#}
                <li {% if not pagination.has_next %}class="disabled"{% endif %}>
                    <a href="{% if pagination.has_next %}{{ url_for(endpoint,p=pagination.next_num,**kwargs)}}{% else %}#{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

{% endmacro %}
